;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [
  [reagent "0.9.0-SNAPSHOT"]
  [datascript "0.18.4"]
  [datascript-transit "0.3.0"]
  [com.taoensso/timbre "4.10.0"]
  [thheller/shadow-cljsjs "0.0.16"]
  ]

 :builds
 {
  :app {:target     :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main {:init-fn datascript-firebase.core/main}}

        :compiler-options {:optimizations :advanced
                           :infer-externs :auto
                           }

        :devtools
        {:autoload     true
         :before-load  datascript-firebase.core/destroy
         :after-load   datascript-firebase.core/reload
         :http-handler shadow.http.push-state/handle
         :http-root    "resources/public"
         :http-port    8080}}}}
